NOTION_TOKEN=your_notion_secret_here
NOTION_CONTACT_DB_ID=c3c73c1f4ef041c0abb8d94eb6c17449
NOTION_EVENTS_DATABASE_ID=your_events_database_id_here
NOTION_NEWSLETTER_DB_ID=0cca9910c382413fb5d763f8306fe15c
NOTION_RESIDENCY_DB_ID=your_residency_database_id_here
VITE_RESIDENCY_FORM_URL=https://docs.google.com/forms/d/e/your-form-id/viewform
